/*--------------------------------
	Font face
	example:
	@include font-face('Clarendon', 'clarendon-webfont');
	@include font-face('Clarendon', 'clarendon-webfont', $w--bold, italic);
*/

@mixin font-face($name, $family, $filename, $weight: normal, $style: normal) {
	@font-face {
		font-family: $name;
		src: url("./fonts/#{$family}/#{$filename}/#{$filename}.woff2") format('woff2'),
			 url("./fonts/#{$family}/#{$filename}/#{$filename}.woff") format('woff'),
			 url("./fonts/#{$family}/#{$filename}/#{$filename}.eot"),
    		 url("./fonts/#{$family}/#{$filename}/#{$filename}.eot?#iefix") format("embedded-opentype"),
         	 url("./fonts/#{$family}/#{$filename}/#{$filename}.ttf") format("truetype");
		font-style: $style;
		font-weight: $weight;
	}
}



/*--------------------------------
	Font families
*/

@mixin font-roboto($weight: false, $size: false, $lh: false, $colour: false) {
	font-family: 'Roboto', Arial, sans-serif;
	@if $weight { font-weight: $weight; }
	@if $size { font-size: $size; }
	@if $lh { line-height: $lh; }
	@if $colour { color: $colour; }
}