@import "../../../../../../styles/sass/utils.scss";
$c-border: $c-grey;

.btn {
  color: black;
}

.btn-danger {
  background-color: red;
}

.w-100 {
  width: 100%;
}

.p-btn-danger {
  @extend .btn;
  @extend .btn-danger;
  @extend .w-100;
}

// -----------------------------------

@mixin user-filters($btnDanger) {
  .users-filters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: calc-gutter(2);
    border: 1px solid $c-border;
    background-color: $bg-secondary;
    border-radius: $border-radius-base;

    h4 {
      width: 100%;
    }

    .field-wrapper {
      width: 20%;
    }

    &__add-user-button {
      @extend #{$btnDanger};
    }
  }
}

@include user-filters(".p-btn-danger");
