@import '../../../../styles/sass/utils.scss';

.l-app {
    display: flex;
    width: 100%;
    height: 100%;

    &__main {
        flex-grow: 1;
        padding: calc-gutter(2) calc-gutter(5);
        height: 100%;
    }
}
