/*--------------------------------
	Box sizing
*/

* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}



/*--------------------------------
	Basic document styling
*/

html {
	font-size: $html-font-size !important;
	min-height: 100%;
	-webkit-text-size-adjust: none;
	// overflow-y: auto;
}

body {
	font-family: $stack;
	font-size: $p;
	line-height: $lh;
	min-width: 1330px;
}

.invisible{
	opacity: 0;
}

.invisible-icon{
	.k-icon{
		display: none;
	}
}

fieldset {
	margin: 20px;
}