$z-layers: (
    modal-content: 9003,
    modal-overlay: 9002,
    above: 900,
    default: 1,
    below: -1
);

$size-vars: (
    x-small: 12px,
    small: 14px,
    regular: 16px,
    medium: 18px,
    large: 22px,
    x-large: 32px
);

$breakpoints: (
    tablet: 768px,
    tablet-wide: 1024px,
    desktop: 1200px,
    desktop-wide: 1360px
);

// ****    $LAYOUT    **** \\
$gutter-base: 8px !default;
$border-radius-base: 4px;
$border-radius-small: 2px;

// *****  FONTS CONFIG: Fonts definitions  ***** \\
$ff-base: 'Roboto', sans-serif;
$ff-secondary: Arial;

$fw-regular: normal;
$fw-bold: bold;
$fw-medium: 500;

$lh-base: 1.31em;
$lh-small: 1.14em;

// *****  ANIMATIONS  ***** \\
$hover-transition: all 0.2s ease-in;
